#aside-profile {

    .profile-infos {

        .profile-name {
            font-size: 2em;
            font-family: "Gotham";
        }

        .profile-login{
            font-family: "SourceSans";
        }

        .desc {
            font-size: 1.2em;
            font-family: "SourceSans";
        }

        .profile-location {
            font-size: 1.2em;
            font-family: "SourceSans";
        }

        .profile-blog a{
            font-size: 1.2em;
            font-family: "SourceSans";

            // &:hover {
            //     color: black;
            // }
        }

        @media (max-width: 992px){
            display: inline-block;
        }
    }

    @media (max-width: 992px){

        .profile-pic{
            width: 110px;
            vertical-align: top;
            margin-right: 1em;
        }
    }

    .profile-technos {

        h5 {
            color: #3e3e3e;
            font-family: "Gotham";
        }

        .techno-list {
            list-style-type: none;
            padding: 0;

            .techno {
                width: 40px;
                display: inline-block;

                &+.techno {
                    margin-left: 1em;
                }

                .techno-img {
                    width: 100%;
                }
            }
        }
    }
}
