.ulEva{
    list-style: none;
}

.h1Eva{
    font-size: 1.7em;
}

.h2Eva{
    font-size: 1em;
}
.h3Eva, .h4Eva{
    font-size: 1.2em;
}
.logoTechno{
    width: 40px;
}

.profileAvatar{
    max-width: 200px;
    max-height: 200px;

}