

.profile-name{
    font-size: 2em;
    font-family: "Gotham";
}

.profile-location{
    font-size: 1.2em;
    font-family: "SourceSans";
}

.profile-blog{
    font-size: 1.2em;
    font-family: "SourceSans";
}

.profile-desc .desc{
    font-size: 1.2em;
    font-family: "SourceSans";
}

.profile-technos h5, .profile-desc h5{
    font-family: "Fedra";
}

.techno-list{
    list-style-type: none;
    padding: 0;
}

.techno{
    width: 40px;
    display: inline-block;
}

.techno + .techno{
    margin-left: 1em;
}

.techno-img{
    width: 100%;
}

@media (max-width: 992px){
    .profile-pic{
        width: 110px;
        vertical-align: top;
        margin-right: 1em;
    }

    .profile-infos{
        display: inline-block;
    }
}
