#repo-page{
    .display-repo{
        position: relative;
        height: 100%;
        border: none;
        transition: all .125s ease-out;

        .card-body {

            .repo-title {
                display: flex;
                justify-content: space-between;
                align-items: center;


                .repo-name{
                    margin-bottom: 0;
                    font-size: 1.3em;
                    font-family: "Gotham";
                    color: #3e3e3e;
                    width: 85%;
                    text-overflow: clip;

                }

                .ghIcon {
                    font-size: 20px;
                    color: #222;

                    &:hover{
                        text-shadow: 0 0 0.25em #BBB;
                        color: #2e2e2e;

                    }
                }

                .__react_component_tooltip{
                    font-family: "Fedra";
                }

            }

            .repo-desc{
                margin: 1em 0;
            }
        }

    }

    .owner-infos{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 1.5em;

        img{
          width: 40px;
          height: 100%;
        }
    }

    .repo-infos{

      .languages-list {
        margin-top: 1em;

        &> div{
          font-size: 70%;
          display: flex;
          align-items: center;

          .dot-color{
            width: 10px;
            height: 10px;
            border-radius: 50%;
            margin-right: 1.25em;
          }
        }
      }
    }

}
