#error{
    height: 100vh;
    background: -webkit-gradient(linear, left top, right bottom, from(#2196f3), to(#673ab7));
    background: linear-gradient(to bottom right, #2196f3, #673ab7);

    h1{
        margin: 0;
        color: #FFF;
        margin-bottom: 2rem;
    }
}