#explore-page{
    .head-explore { 
        margin-top: 100px;
        margin-bottom: 200px;

        h2{
            font-family: 'Gotham';
            font-size: 3em;
            
        }
    }
   
}