#home-page{
  header{
    background-image: url("../images/img-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
      .mainAccueil{
            min-height: calc(100vh - 56px);

            .logo{
              width: 100px;
              &:hover{
                    animation: spin linear infinite 2s;
              }
            }

            h1{
              font-family: "Gotham";
            }

            p{
              font-family: "SourceSans";
              font-size: 1.1em;
            }

            .fedra-text{
              font-family: "Fedra";
              font-size: 1.3em;
            }

            .black-text{
              font-family: "Gotham";
            }
      }
  }

.under-accueil{
  overflow-x: hidden;

  .parallax-div{
    height: 60vh;

  }
  .mainPresentation{
    background-color: #262626;

    h2{
      font-family: "Gotham";
    }
    p{
      font-family: "SourceSans";
      font-size: 1.1em;
    }
    .mainPresentation{
      background-color: rgb(26,26,26);
    }
  }

}


@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
  }
}
