
/*Margin Global*/
.containerGlobal {
    margin-top: 5em;
}

/*Titre section projet*/
.titreProjet {
    margin-bottom: 1em;
}


/*Favorite heart icon*/
.emptyIconHeart {
    position: absolute;
    right : 0.75em;
    top : 0.75em;
    line-height: 0;
}


/*Card style*/
