
/*Style navbar pills (active et non active)*/

.nav-pills .nav-item a.active {
    background-color: transparent;
    color: red;
    text-decoration: underline;
}
.nav-pills .nav-link{
    color: black;
}

/*Favorite heart icon*/

.emptyIconHeart {
    position: absolute;
    right : 0.75em;
    top : 0.75em;
    line-height: 0;
}
