
/*Titre section projet*/
.titreProjet {
    margin-bottom: 1em;
}

.card{
    border: none;
    box-shadow: 0 0 0.35em #CCC;
}

/*Favorite heart icon*/
.IconHeart {
    position: absolute;
    right : 0.75em;
    top : 0.75em;
    line-height: 0;
    color: crimson;
    font-size: 18px;
}

.pIcon{
    width: 40px;
}

.repoCard{
    position: relative;
    padding: 1em .75em;
}

.language-bar{
    position: absolute;
    bottom: 0; left: 0;
    width: 100%;
    line-height: 0;
    overflow: hidden;
    border-bottom-left-radius: .25em;
    border-bottom-right-radius: .25em;
}

.language-bar > span{
    display: inline-block;
    height: 5px;
    line-height: 0;
}


/*Card style*/
