#list-projects{

    .repoCard{
        position: relative;
        height: 100%;
        border: none;
        transition: all .125s ease-out;

        &:hover{
            box-shadow: 0 0 0.75em #8e8e8e;
        }
        .card-body {
            padding-bottom: 0;

            .repo-title {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .repo-name{
                    margin-bottom: 0;
                }

                .ghIcon {
                    font-size: 20px;
                    color: #222;
        
                    &:hover{
                        text-shadow: 0 0 0.35em #AAA;
                        color: #2e2e2e;
                    }
                }
            }
        }

        .card-footer {
            background-color: white;
            border-top: none;
            border-bottom-left-radius: .25em;
            border-bottom-right-radius: .25em;
        }

        .language-bar{
            position: absolute;
            bottom: 0; left: 0;
            width: 100%;
            line-height: 0;
            overflow: hidden;
            border-bottom-left-radius: .25em;
            border-bottom-right-radius: .25em;

            & > span{
                display: inline-block;
                height: 8px;
                line-height: 0;
                transition: all .15s ease-out;

                &:hover {
                    height: 10px;
                }
            }
        }

    }

}