.mainAccueil{
    min-height: calc(100vh - 61px);
}

header{
    background-image: url("../images/img-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.mainPresentation{
    background-color: rgb(26,26,26);
}