.mainAccueil{
    min-height: calc(100vh - 56px);
}

header{
    background-image: url("../images/img-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.mainPresentation{
    background-color: rgb(26,26,26);
}

.logo:hover{
    animation: spin linear infinite 2s;
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
  }