#profile-page {
    background: #fcfcfc;

    @import './profile/aside-profile';

    #projects-list{
      a.active .btn{
        background: #78909c!important;
        box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
      }
    }

}
