.repoCard{
    position: relative;
    height: 100%;
    border: none;
    transition: all .125s ease-out;

    &:hover:not(.card-footer){
        box-shadow: 0 0 0.75em #8e8e8e;
    }

    .card-body {
        padding-bottom: 0;

        .repo-title {
            display: flex;
            justify-content: space-between;
            align-items: center;


            .repo-name{
                margin-bottom: 0;
                font-size: 1.3em;
                font-family: "Gotham";
                color: #3e3e3e;
                width: 100%;
                text-overflow: clip;

                // &:hover{
                //   text-shadow: 0 0 0.10em #BBB;
                // }

            }

            .ghIcon {
                font-size: 20px;
                color: black;

                &:hover{
                    text-shadow: 0 0 0.25em #BBB;
                    color: #2e2e2e;

                }
            }

            .__react_component_tooltip{
                font-family: "Fedra";
            }

        }

        .repo-owner{
          color: #6e6e6e;
          width: 85%;
          text-overflow: clip;
          font-family: "Fedra";
          font-size: 1.2em;

          &:hover{
            text-decoration: line-through;
          }
        }

        .repo-description{
            font-family: 'SourceSans';
            font-size: 1.2em;
        }
    }

    .card-footer {
        background-color: white;
        border-top: none;
        border-bottom-left-radius: .25em;
        border-bottom-right-radius: .25em;
        max-height: 48px;

    }

    .language-bar{
        display: flex;
        align-items: flex-end;
        position: absolute;
        bottom: 0; left: 0;
        width: 100%;
        line-height: 0;
        overflow: hidden;
        border-bottom-left-radius: .25em;
        border-bottom-right-radius: .25em;

        & > span{
            display: inline-block;
            height: 8px;
            line-height: 0;
            transition: all .15s ease-out;

            &:hover {
                height: 10px;
            }
        }
    }

}
