#team-page{
    h2{
      font-family: "Gotham";
      font-size: 2.5em;
      span{
        font-family: "Fedra";
      }
    }

    .head-text{
      font-family: "SourceSans";
      font-size: 1.2em;
    }

    ul{
      display: flex;
      justify-content: center;

      li{
        list-style: none;
        margin: 0 .5em;

        a{
          color: black;
          font-size: 1.15em;
        }
      }
    }

}
