// DT = dark theme
$dt_primary: #0e0e0e;
$dt_secondary: #2e2e2e;
$dt_tertiary: #444444;

$dt_text_primary: #f5f5f5;
$dt_text_secondary: #dedede;
$dt_text_tertiary: #bbbbbb;


// Lt = light theme
$lt_primary: #efefef;
$lt_secondary: #ffffff;
$lt_tertiary: #dddddd;

$lt_text_primary: #2e2e2e;
$lt_text_secondary: #444444;
$lt_text_tertiary: #555555;