@import '../theme-colors';

#root{

  &.theme-dark{
    .btn-floating{
      background: $lt_secondary!important;
      color: $lt_text_secondary!important;
    }
  }

  &.theme-light{
    .btn-floating{
      background: $dt_secondary!important;
      color: $dt_text_secondary!important;
    }
  }

}

.btn{
  &.btn-floating {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    width: 47px;
    height: 47px;
    position: relative;
    z-index: 1;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin: 10px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;

    i{
        display: inline-block;
        width: inherit;
        text-align: center;
        font-size: 1.25rem!important;
        line-height: 47px;
    }

    &.to-top-btn{
        opacity: 0;
        position: fixed!important;
        right: 1em; bottom: 1em;

        &.show{
            opacity: 1;
        }
    }
}
}
